<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>게시판 홈</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
</head>
<body class="bg-dark">
<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/board/list}">게시판</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                </li>
            </ul>
            <form class="d-flex" role="search" action="/board/list" method="GET">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                       name="searchKeyword">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
<!-- Button trigger modal -->
<div class="content-wrapper clearfix bg-dark text-white">
    <div class="bg-dark text-end p-2">
        <button type="button" class="btn btn-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#boardDelete">삭제
        </button>
        <a th:href="@{/board/modify/{id}(id=${board.id})}" class="btn btn-secondary btn-sm">수정</a>
    </div>
    <!-- Modal -->
    <div class="modal fade text-dark" id="boardDelete" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="boardDeleteLabel">글 삭제</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>정말로 이 글을 삭제하시겠습니까?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <a th:href="@{/board/delete(id=${board.id})}" class="btn btn-primary">Delete</a>
                </div>
            </div>
        </div>
    </div>

    <div class="h3 border-top p-3 mb-0 bg-secondary text-white" th:text="${board.title}">
        제목
    </div>
    <div class="h4 border-top p-3 mb-0 bg-dark text-white">
        <div class="row">
            <div class="col">
                <h6 class="mb-1">작성자</h6>
            </div>
        </div>
        <div class="row">
            <div class="col-9"></div>
            <div class="col">
                <h6 class="mb-1 text-start"
                    th:text="'추천 ' + ${board.likes} + ' | 비추천 ' + ' | 댓글 ' + ' | 조회수 ' + ${board.views}">추천 | 비추천 | 댓글 |
                    조회수</h6>
                <h6 class="mb-1 text-start" th:text="${#temporals.format(board.createDate, 'yyyy.MM.dd HH:mm:ss')}">
                    작성일</h6>
            </div>
        </div>
    </div>
    <div class="border-top bg-dark">
        <div class="col-sm-4 p-3">
            <div class="row">
                <div class="col offset-md-1 text-white">
                    <th:block th:if="${board.fileAttached == 1}">
                        <th:block th:each="file, iterStat : ${board.boardFileEntityList}">
                            <img th:src="@{|/upload/${file.storedFileName}|}"
                                 class="col-md-6 float-md-start mb-3 ms-md-3" alt="첨부한 이미지" style="width: 100%;">
                        </th:block>
                    </th:block>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 offset-md-1 h3 p-3 mb-0 text-white fst-italic" th:text="${board.content}">
                    내용
                </div>
            </div>
        </div>
    </div>
    <div class="h4 border-top p-3 mb-0 bg-dark text-white">
        <h3 class="mb-1">첨부파일</h3>
        <th:block th:each="file : ${board.boardFileEntityList}">
            <a th:href="|/download/${file.getId()}|" download th:text="${file.originalFileName}"
               class="btn btn-secondary"></a>
        </th:block>
    </div>
    <div class="article-comment position-relative ">
        <div class="title h4 border-top p-3 m-3 bg-dark text-white">
            <img src="/img/chatboexs.png" width="30px" height="30px">
            댓글
        </div>
        <div class="list-area h4 border-top m-3 bg-dark text-white border">
            <div class="comment-wrapper">
                <div class="comment-item">
                    <div class="content">
                        <div id="message"></div>
                    </div>
                </div>
            </div>
        </div>
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center" id="pagination">
                <li class="page-item" id="Previous"></li>
                <li class="page-item" id="PageNum"></li>
                <li class="page-item" id="Next"></li>
            </ul>
        </nav>
        <div class="reply-form__container h4 m-3">
            <form action="/comment/write" method="post">
                <div class="reply-form__info border-bottom">
                    <input type="text" name="writer" class="form-control" placeholder="Username">
                </div>
                <div class="reply-form-textarea-wrapper" style="position: relative;">
                    <textarea type="text" name="contents" class="form-control" required="required"
                              placeholder="내용"></textarea>
                    <div class="reply-form__submit-button-wrapper" style="position: absolute; bottom: 0; right: 0;">
                        <input type="hidden" name="boardId" th:value="${board.id}">
                        <button class="reply-form__submit-button" type="submit" id="comment-write-btn" tabindex="103">
                            작성
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<script th:inline="javascript">
    function loadComments(boardId, page) {
        $.ajax({
            type: "GET",
            url: `/comment?boardId=${boardId}&page=${page}`,
            success: function (data) {
                let commentUl = $("#message");
                commentUl.empty(); // 선택 요소 비우는 작업

                makePagination(boardId, data);

                data.content.forEach(function (comment) {
                    let date = comment.createDate.split('T')[0];
                    let time = comment.createDate.split('T')[1];
                    let commentHtml = `<div class="info bg-secondary border-bottom fs-5">
                                    <div class="p-1 d-flex justify-content-between">
                                        <div>
                                            <span>${comment.writer}</span>
                                        </div>
                                        <div>
                                            <span>${date + " " + time}</span>
                                            <span> | </span>
                                            <button onclick="removeComment(${comment.boardId}, ${comment.id})">삭제</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="p-1">
                                    <div class="message fs-4">${comment.contents}</div>
                                </div>`;
                    commentUl.append(commentHtml);
                })
            },
            error: function () {
                alert("error");
            }
        })
    }
    function makePagination(boardId, page) {
        let pagination = $("#pagination");
        pagination.empty();

        let cur = page.number; // Current page number
        let totalPages = page.totalPages; // Total number of pages

        let endPage = Math.min(cur + 10, totalPages); // Calculate end page
        let startPage = Math.max(1, endPage - 9); // Calculate start page

        if (cur > 0) // Previous button
            pagination.append(`<li class="page-item"><a class="page-link" href="javascript:void(0);" aria-label="Previous" onclick="loadComments(${boardId}, ${cur - 1})" ><span aria-hidden="true">&laquo;</span></a></li>`);

        for (let i = startPage; i <= endPage; i++) { // Pagination numbers
            if(cur == i-1){
                pagination.append(`<li class="page-item active"><a class="page-link" href="javascript:void(0);" onclick="loadComments(${boardId}, ${i - 1})">${i}</a></li>`);
            }else {
                pagination.append(`<li class="page-item "><a class="page-link" href="javascript:void(0);" onclick="loadComments(${boardId}, ${i - 1})">${i}</a></li>`);
            }
        }

        if (cur + 1 < totalPages) // Next button
            pagination.append(`<li class="page-item"><a class="page-link" href="javascript:void(0);" aria-label="Next" onclick="loadComments(${boardId}, ${cur + 1})"><span aria-hidden="true">&raquo;</span></a></li>`);
    }


    $(document).ready(function () {
        let boardId = [[${board.id}]];
        loadComments(boardId, 0);
        }
    );
    function removeComment(boardId, id) {
            $.ajax({
                type: "POST",
                url: `/comment/delete?id=${id}`,
                async: false,
                success: function () {
                },
                error: function () {
                    alert('ERROR');
                }
            })

            loadComments(boardId, 0);
        }
</script>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
</body>
</html>
